<h1>Employees Information!</h1>
<form>
  <div class="form-group col-3">
    <label for="idE">Id employee of interest</label>
    <input id="idE" type="number" class="form-control">
    <button class="btn btn-primary" type="submit" (click)="getEmployees()">Search</button>
  </div>
</form>

<div class="container mt-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Salario</th>
        <th>Edad</th>
        <th>Imagen</th>
        <th>Salario Anual</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_salary | currency }}</td>
        <td>{{ employee.employee_age }}</td>
        <td>
          <img [src]="employee.profile_image" alt="{{ employee.employee_name }}" height="50">
        </td>
        <td>{{ employee.employeeAnualSalary | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
