<body>
  <div class="container mt-5">
    <h1>Hello, world!</h1>
    <p>Welcome to the results of the .NET Developer Testing:</p>
    <ul>
      <li><a href='https://dotnet.microsoft.com/apps/aspnet'>ASP.NET Core</a> and <a href='https://docs.microsoft.com/en-us/dotnet/csharp/'>C#</a> for cross-platform server-side code</li>
      <li><a href='https://angular.io/'>Angular</a> and <a href='https://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
      <li><a href='https://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    </ul>
    <p>This project was developed using .NET Core 7 and Angular 15, utilizing IIS Express for local development and testing. The Visual Studio SDK 2022 was used for unit tests and other development tasks.</p>
    <p>It's worth noting that sometimes the API may respond with a 429 error, indicating that the server is experiencing too many requests (Rate Limit Exceeded). This can lead to a temporary inability to show data. In such cases, it's recommended to implement proper error handling and possibly implement rate limiting strategies to prevent overwhelming the API server.</p>
    <p>For more information, you can visit my profile at GitHub: <a href="www.github.com/BalaclavaAM">www.github.com/BalaclavaAM</a></p>
  </div>
</body>